@font-face {
    font-family: 'quattrocento';
    src: url('../font/quattrocento/Quattrocento-Regular.ttf');
}
@font-face {
    font-family: 'quattrocento-bold';
    src: url('../font/quattrocento/Quattrocento-Bold.ttf');
}
@font-face {
    font-family: 'quattrocento-sans';
    src: url('../font/quattrocentosans/QuattrocentoSans-Regular.ttf');
}

.center{
    max-width: 800px;
    margin: 50px auto;

    /*border: solid blue 10px;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;*/
    -webkit-box-shadow: 1px 1px 10px 0px rgba(204,199,183,0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(204,199,183,0.75);
    box-shadow: 1px 1px 10px 0px rgba(204,199,183,0.75);
    position: static;

    font-family: quattrocento-sans;
    font-size: .95em

}
.center h1{
  font-family: quattrocento;
  color: #fff;
  background-color: #aaa;
  font-size: 2em;
  margin-bottom: 10px;
  padding: 10px 5px 0px 10px;
}
.center p{
  padding: 0px 50px 50px 50px;
}

.center strong{
  font-family: quattrocento-bold;
}

.top-icon{
  float:left;
  margin: -5px 70px 10px 0px;
  font-weight:bold;
  font-size: 1.5em;
  font-family: quattrocento-bold;
}
.nav{
  margin: 10px 10px;
}
.nav li{
  display: inline;
  margin: 0px 10px;
}

a{
  text-decoration: none;
  font-family: quattrocento;
}
