/* font */
@font-face {
    font-family: 'quattrocento';
    src: url('../font/quattrocento/Quattrocento-Regular.ttf');
}
@font-face {
    font-family: 'quattrocento-bold';
    src: url('../font/quattrocento/Quattrocento-Bold.ttf');
}
@font-face {
    font-family: 'quattrocento-sans';
    src: url('../font/quattrocentosans/QuattrocentoSans-Regular.ttf');
}

.center{
    max-width: 800px;
    margin: 50px auto;
    padding: 0px 0px 30px 0px;

    /*border: solid blue 10px;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;*/
    -webkit-box-shadow: 1px 1px 10px 0px rgba(204,199,183,0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(204,199,183,0.75);
    box-shadow: 1px 1px 10px 0px rgba(204,199,183,0.75);
    position: static;
    overflow: auto;

    font-family: quattrocento-sans;
    font-size: .95em

}
.center h1{
  font-family: quattrocento;
  color: #fff;
  background-color: #999;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px 5px 0px 10px;
}
/*.center p{
  padding: 0px 50px 50px 50px;
}*/

.center strong{
  font-family: quattrocento-bold;
}

.top-icon{
  float:left;
  margin: -5px 70px 10px 0px;
  font-weight:bold;
  font-size: 1.5em;
  font-family: quattrocento-bold;
}
.nav{
  margin: 10px 10px;
}
.nav li{
  display: inline;
  margin: 0px 10px;
}
.nav a, .nav a:visited, .nav a:link{
  color: #999;
}

a, a:visited, a:link, a:active, a:hover{
  text-decoration: none;
  color: #000;
  font-family: quattrocento;
}

/* Circle Icons */
.icon-wrapper{
  margin: 0 auto;
  width: 220px;
}
.icon{
  height: 100px;
  width: 100px;
  background-size: 100px 100px;
  border-radius: 50%;
  margin: 0px 5px;
  float: left;
}
.img-github{
  background-image: url('../img/githubMark.png');
}
.img-illustration{
  background-image: url('../img/illusLogo.png');
}


/* hover overlay behavior */
.icon:hover .overlay{
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.5;
}

.icon:hover .center-text{
  text-align:center;
  vertical-align:center;
  line-height: 100px;
  color: #fff;
}

/* hover text behavior */
.hide{
  visibility:hidden;
}
.icon:hover .hide{
  visibility: visible;
}
