.center{
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    border: solid blue 10px;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    position: static;

}
.nav li{
  display: inline; margin: 0 10px;
}
