<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>

  <body>
    <div class="top-icon"><a href="index.html"> amy. </a></div>
    <div class = "nav">
        <ul>
          <li><a href="about.html"> about </a></li>
          <li><a href="http://amyluo.me/"> blog </a></li>
          <li><a href="projects.html"> projects </a></li>
          <li><a href="data.html"> data shenanigans </a></li>
          <li><a href="http://paperstains.tumblr.com"> illustrations </a></li>
          <li><a href="https://github.com/aluo"> github </a></li>
          <li><a href="contact.html"> contact </a></li>
        </ul>
    </div>
    <div class = "center">
      <h1>data</h1>
      <p>Recently I've found that data is kind of neat if you take the time to use it. Here are some topics I've taken an interest in.</p>
    </div>


  </body>
</html>
<!--
Notes:
- Why do people want to come to your page:
  To learn more about me
    - History (personal)
    - What am I doing now (personal)
      + Where am I now?

  To learn more about my work
    - What did I do before
    - What am I doing now
      + What projects am I doing?
  To learn how to contact me
-->
